<ul class='c-social-nav o-plain-list'>
  {% if site.facebook %}
  <li class='c-social-nav__item'>
    <a href='{{ site.facebook }}' target='_blank'>
      <span class='c-social-nav__icon' data-icon='ei-sc-facebook' data-size='s'></span>
    </a>
  </li>
  {% endif %}
  {% if site.twitter %}
    <li class='c-social-nav__item'>
      <a href='{{ site.twitter }}' target='_blank'>
        <span class='c-social-nav__icon' data-icon='ei-sc-twitter' data-size='s'></span>
      </a>
    </li>
  {% endif %}
  {% if site.instagram %}
    <li class='c-social-nav__item'>
      <a href='{{ site.instagram }}' target='_blank'>
        <span class='c-social-nav__icon' data-icon='ei-sc-instagram' data-size='s'></span>
      </a>
    </li>
  {% endif %}
</ul>