/*------------------------------------*\
  Components > Post Hero
\*------------------------------------*/

.c-post-hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 (- double($base-spacing-unit));
  padding: (quadruple($base-spacing-unit) + double($base-spacing-unit)) $base-spacing-unit;

  @include mq(tablet, desktop) {
    padding: double($base-spacing-unit) $base-spacing-unit;

    &:before {
      content: '';
      display: block;
      padding-bottom: 45%;
    }
  }

  @include mq($from: desktop) {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: $bg-dark-opacity;
  }

  &__content {
    position: relative;
    z-index: index($stack-elements, hero-element);
    text-align: center;
    text-shadow: $text-shadow;

    @include mq($until: tablet) {
      padding: 0 double($base-spacing-unit);
    }

    @include mq($from: tablet) {
      position: absolute;
      top: 50%;
      left: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      min-width: 75%;
    }
  }

  &__title {
    margin-bottom: $base-spacing-unit;
    color: $color-white;
    font-size: $font-size-h3;
    font-weight: $font-weight-bold;

    @include mq($from: tablet) {
      font-size: $font-size-h2;
    }

    @include mq($from: desktop) {
      font-size: $font-size-h1;
    }
  }

  &__date {
    position: relative;
    padding: half($base-spacing-unit) 0;
    display: inline-block;
    color: $color-white;
    font-size: $font-size-small;
    line-height: $line-height-small;

    &:before, &:after {
      position: absolute;
      content: '';
      width: 100%;
      left: 0;
      height: 1px;
      background: $bg-white;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }
}
