---
layout: default
---

<div class='o-grid o-grid--full'>
  <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-4-l'>
    {% include page-hero.html %}
  </div>

  <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l'>
    <div class='o-main'>
      {% include header.html %}

      <div class='o-main__content'>
        <article>
          <div class='c-content'>
            {{ content }}
          </div>
        </article>
      </div>

      {% include footer.html %}
    </div>
  </div>
</div>